<script src="{{ routes.controllers.Assets.versioned("javascripts/application.min.js").url }}"></script>
<script src="{{ routes.controllers.Assets.versioned("js/accessible-autocomplete.min.js").url }}"></script>
<script src="{{ routes.controllers.Assets.versioned("js/countries-autocomplete.js").url }}"></script>
<script>window.GOVUKFrontend.initAll();</script>